body {
    background-color: #001220;
    font-family: "Raleway", sans-serif;
    margin: 0;
    display: flex;
    /* overflow-y: hidden; */
    background-image: url(./Recursos/layered-waves-haikei.svg);
    aspect-ratio: 960/480;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    position: absolute;
    margin: 0.3em auto 0;
    padding: 0.9em 3em;
    /* background: #b6acac; */
}

main {
    /* z-index: 950; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vector-a {
    fill: rgba(254, 88, 98, 1);
    z-index: 950;
}

.mensaje {
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    text-align: justify;
    color: rgb(255, 204, 207);
    /* background-color: rgba(255, 204, 207,0.2); */
    background: none;
    display: inline;
    border: none;
    border-radius: 2em;
    resize: none;
    padding: 2em;
}

.mensaje:focus {
    outline: none;
}

#vector-alerta {
    fill: #FA7268;
    background: #bbaeae;
    display: inline-block;

}
.form {
    /* position: absolute; */
    top: 6em;
    left: 10em;
    display: inline-block;
    margin: 0 3em 0 7em;
}
.alert {
    margin: 1em;
}

.form p {
    color:  #FA7268;
    font-weight: 400;
    font-size: 1em;
    display: inline-block;
}

.botones-encriptador {
    display: flex;
    justify-content: center;    
}

.button-enc, .button-desenc, .button-copy {
    text-align: center;
    margin: 0 0.7em;
    flex-grow: 1;
    padding: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1em;
    border-radius: 1em;
}

.button-enc {
    background-color: rgba(254, 88, 98, 1);
    color: rgb(255, 204, 207);
    border: 1px solid rgba(254, 88, 98, 1);
    transition: 200ms;
}

.button-enc:hover {
    background-color: rgb(255, 204, 207) ;
    color: rgba(254, 88, 98, 1);
    cursor: pointer;
}

.button-desenc, .button-copy {
    background-color: rgb(255, 204, 207);
    color: #FA7268;
    border: 1px solid #FA7268;
    transition: 200ms;
}

.button-desenc:hover {
    background-color: #FA7268;
    color: rgb(255, 204, 207);
    cursor: pointer;
}

/* Estilos ventana traduccion */
 .ventana-traduccion {
    text-align: center;
    color: rgb(255, 204, 207);
    background-color: rgba(255, 204, 207,0.3);
    border: none;
    border-radius: 2em;
    padding: 2em;
    flex-grow: 1;
    height: 80%;
    max-width: 300px;
    margin: 0 3em 0 0;
    display: flex;
    align-items: center;
 }

 .imagen-encriptador {
    background-image: url(./Recursos/Encriptado.svg);
    aspect-ratio: 133/82;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ventana-traduccion h3 {
    text-align: center;
    color: #001220;
    margin: 1em 0;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ventana-traduccion h5 {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    text-align: center;
    color: #10334f;
    font-size: 1em;
    margin: 1em;
    font-weight: bold;
    line-height: 1.2em;
}

.data-window {
    flex-direction: column;
    justify-content: center;
}

.encripted-text {
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
    text-align: justify;
    color: rgb(243, 227, 228);
    background: none;
    display: inline;
    border: none;
    resize: none;
}

.encripted-text:focus {
    outline: none;
}

.button-copy {
    flex-grow: 1;
    margin-top: 1em;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 0.5s;
}

.animate__animated.animate__fadeOutUp {
    --animate-duration: 0.5s;
}
.button-copy:hover {
    background-color: #FA7268;
    color: #ffcccf;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.2em;
}

.github-icon svg, .linkedin-icon svg {
    fill: #001220 ;
}

.github-icon:hover, .linkedin-icon:hover {
    filter: drop-shadow(0 0 4px #ffcccf);
}



